.blogContainner {
  display: flex;
  padding: 10px;
  width: 100%;
  margin: 0 2%;
  .blogWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    padding: 10px;
  }
  .blogcontent {
    width: 120vh;
    .blogHeader {
      margin-top: 5%;
      margin-left: 2%;
      width: 100%;
      .blogName {
        margin-bottom: 5%;
        font-size: 40px;
      }
      .titleWrapper {
        display: flex;
        justify-content: space-between;
        .allContents {
          width: 10%;
          font-size: 30px;
        }
        .border {
          width: 90%;
          height: 0;
        }
      }
    }
  }
}
