.testPage {
  .tagArr {
    display: inline-block;
  }
  .eachTag {
    background-color: rgb(201, 231, 221);
    display: inline-block;
  }
  .tagArray {
    display: inline-block;
    margin-right: 10px;
    background-color: rgb(199, 224, 243);
  }
}
