@media (max-width: 3000px) {
  .homeContainer {
    width: 70vw;
  }
}

@media (max-width: 1800px) {
  .homeContainer {
    width: 75vw;
  }
}

@media (max-width: 1200px) {
  .homeContainer {
    width: 80vw;
  }
}

@media (max-width: 750px) {
  .homeContainer {
    width: 100vw;
    padding: 0 !important;
  }
}

.home {
  display: flex;
  justify-content: center;
  background-color: #e8eff3;

  .homeContainer {
    display: grid;
    background-color: white;
    grid-template-rows: 300px auto auto;
    padding: 0 50px 0 50px;

    .carouselContent {
      display: flex;
      width: 100%;
      height: 300px;
      margin-top: 30px;
    }
    .allPost {
      display: flex;
      width: 100%;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 2px solid #e8eff3;
    }
    .newPost {
      display: flex;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 80px;
    }
  }
}
