.categoryContainer {
  margin-top: 50%;
  .inputWrapper {
    display: flex;
    margin: 20% auto;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 55%;
    .input {
    }
    .searchIcon {
      width: 25px;
      height: 25px;
    }
    .searchButton {
      cursor: pointer;
    }
  }
  .categoryWrapper {
    margin: 20px auto;
    .title {
      margin: 5% 25%;
      font-size: 30px;
    }
    ul {
      margin-left: 25%;
      line-height: 2;
      li {
        border-left: 2px solid #e6e8ea;
        margin-left: 10px;
        padding-left: 20px;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
